#about{
    padding-bottom: 7%;
}

#about .img-wrapper, #about .about-description{
    text-align: center;
}

#about .about-description h3{
    font-size: 2em;
    font-weight: bold;
    color: #1E84B6;
}

#about img{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    border: 14px solid #444;
    margin: 2em;
    margin-top: 0em;
}

#about article{
    margin: 1em 15%;
}