/* === About page style === */

#about{
    text-align: center;
}

.profileImg{
    width: 220px;
    height: 220px;
    margin-bottom: 0.5em;
    border: 10px solid #444;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
}

.greeting{
    font-size: 2em;
    font-weight: bold;
}

.bio{
    margin: 1em 20%;
}