/* === Intro Page styles === */

#intro {
    text-align: center;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.branding{
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    transition: all 0.5s;
}

.branding--inverted{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.branding-logo{
    width: 85px;
    height: 85px;
    margin: 0.5em;
}

.brandname{
    line-height: 90%;
}

.branding-title{
    padding-bottom: 2em;
}