/* Page Template */
.red { background: #F64E4E; }
.green { background: #54B585; }
.blue { background: #268BFF; }
.yellow { background: #D9A337; }
.purple { background: #8F82E8; }
.grey { background: #333; }
.white { background: white;}
/*.white {background: #26C6DA ;}
*/
#intro {
    color: white;
}

#intro p {
    margin: 0 0 2em 0;
    padding-top: 1em;
    text-shadow: 5px 5px 0px rgba(0,0,0, 0.3);
}

.glass{
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    text-align: center;
}

li a{
    display: inline-block;
    text-decoration: none;
}

.no-center{
    margin: 0;
    margin-top: 10%;
}

#intro .button:hover{
    color: #444;
    box-shadow: inset 200px 0 0 0 white;
}
