/* === Intro Page styles === */

#intro {
    text-align: center;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.brandname{
    margin-top: 10%;
}