/* === Media Queries === */

@media (max-width: 800px){
    
    /* navbar */
    .navbar{
        padding: 0 5%;
    }
    
   .navbar-menu {
      display: inline-block;
    }
    
   .collapse {
      display: none;
   }
    
    .profile-img{
        width: 150px;
        height: 150px;
        border: 6px solid #444;
    }
    
    /* Leave enough space for navbar */
    .page{
        padding: 5%;
        padding-top: 80px;
    }
    
    /* Project Page */
    
    .card{
        display: block;
        width: 100%;
    }
    
    .project-page{
        overflow: hidden;
    }
    
    .tiles{
        display: block;
        width: 100%;
        padding: 0;
    }
    
    .tiles-row{
        display: inline-block;
        width: 49%;
    }
    
    .tiles-cell{
        height: 20%;
    }
    
    /* About page */
    
    .container{
        padding: 0 5%;
    }
    
    .bio{
        margin: 5%;
    }
}

@media (min-width: 801px){
    .navbar-menu {
        display: none;
    }
    
    .navbar-item{
        display: inline-block !important;
    }
}