/* === Navigation Bar Style === */

.navbar{
	position: fixed;
    padding: 0 14%;
	width: 100%;
    z-index: 1;
    white-space: nowrap;
	background: transparent;
    transition: background 0.5s;
    text-align: right;
}

.navbar--inverted{
    background: rgba(34,34,34,0.9);
}

/* === Left side === */
.navbar-branding{
    float: left;
}

.navbar-logo{
    display: inline-block;
    padding: 1em;
}

.invert{
    filter: invert(100%);
}

/* === Right side === */
.navbar-list{
	float: right;
    list-style-type: none;
}

.navbar-item{
    display: inline-block;
    padding: 1.5em 1em;
}

.navbar-menu{
    display: inline-block;
    padding: 1em;
    transition: transform, 0.2s;
}

.rotated{
    transform: rotate(-90deg);
    transition: transform, 0.2s;
}

.navbar-menu:hover{
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
}


/* === Default navbar style === */
.navbar-link{
    padding: 1.5em 0;
	text-decoration: none;
	box-shadow: inset 0 0 0 0 #444;
	transition: color 0.3s, box-shadow 0.3s;
}

.navbar-link:link, .navbar-link:visited{
    color: white;
    font-weight: normal;
    box-shadow: inset 0 0 0 0 white;
}

.navbar-link:hover{
    box-shadow: inset 0 -4px 0 0 white;
}

/* === Inverted navbar style === */
.navbar-link--inverted:link, .navbar-link--inverted:visited{
    color: #444;
    box-shadow: inset 0 0 0 0 #4682b4;
}

.navbar-link--inverted:hover{
    color: #4682b4;
    box-shadow: inset 0 -4px 0 0 #4682b4;
}

/* === Branding Logo style === */
.navbar-logo{
    margin: 0;
    padding: 1em;
    list-style-type: none;
    transition: all 0.5s;
}

.navbar-logo--inverted{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* === Javascript highlight link when on same page === */
.navbar-link.active{
    color: white;
    box-shadow: inset 0 -4px 0 0 white;
}

.navbar-link--inverted.active{
    color:  #4682b4;
    box-shadow: inset 0 -4px 0 0 #4682b4;
}