section#projects{
    padding: 0;
}

#projects .tiles a{
    display: inline;
}

/* Left hand side */

.infobar{
    float: left;
    width: 40%;
    padding: 0 5%;
}

.projects-page{
    display: none;
    opacity: 0;
}

.description p{
    padding: 0 0 1em 0;
}

/* Right hand side */

.tiles{
    display: table;
    float: right;
    height: 100%;
    width: 50%;
}

.row{
    display: table-row;
    height: 50%;
    width: 100%;
}

.cell{
    display: table-cell;
    height: 50%;
    width: 50%;
}

.img-wrapper{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.project-img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    vertical-align: middle;
    object-fit: cover;
}

.project-img:hover {
    transform: scale(1.5);
    filter: grayscale(100%);
}

.test{
    z-index: 1;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.tiles p{
    background-color: rgba(0,0,0,0.3);
}