/* === Projects page styles === */

#projects{
    background-size: cover;
    background-image: url('../images/background.jpg');
    transition: all 0.5s linear;
}

/* === Left hand side === */

.infobar{
    float: left;
    width: 45%;
    padding: 1em;
    padding-top: 1.5em;
    margin-left: 2.5em;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    background-color: rgba(255,255,255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.infobar-instruction{
    margin-bottom: 1em;
}

.project-page{
    display: none;
    opacity: 0;
}

.project-title{
    margin: 0em 1em;
    text-align: center;
    letter-spacing: 5px;
    color: #03A9F4;
}

.project-description{
    margin-left: 1em;
    margin-bottom: 1em;
}

.project-highlights{
    margin: 0 1em;
    list-style-position: outside;
}

/* === Right hand side === */

.tiles{
    display: table;
    float: right;
    height: 100%;
    width: 48%;
    animation-name: fadeInRight;
}

@keyframes fadeInRight{
0%{
    opacity: 0;
    transform: translateX(100px);
}
100%{
    opacity: 1;
    transform: translateX(0);
    }
}

@keyframes fadeInLeft{
0%{
    opacity: 0;
    transform: translateX(-100px);
}
100%{
    opacity: 1;
    transform: translateX(0);
    }
}

.tiles-row{
    display: table-row;
    height: 50%;
    width: 100%;
}

.tiles-cell{
    display: table-cell;
    height: 25%;
    width: 25%;
    padding: 0 20px 20px 0;
}

.tile-wrapper{
    display: block;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tile-img{
    display: block;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    vertical-align: middle;
}

.tile-img:hover {
    transform: scale(1.5);
    filter: grayscale(100%);
}