/* === Media Queries === */

@media (max-width: 820px){
    
    .container{
        padding: 0;
    }
    
    /* Shrink logo in intro */
    .brand-logo{
        height: 100px;
        width: 100px;
    }
    
    /* Leave enough space for navbar for each page*/
    .page{
        padding: 5%;
        padding-top: 80px;
    }
    
    /* Show Navbar Hamburger Menu */
   .navbar-menu {
      display: inline-block;
    }
    
   .collapse {
      display: none;
   }
    
    /* Project Page */
    .col-6{ width: 100%; }
    .col-4{ width: 100%; }
    .col-8{ display: none; }
    
    .modal-content{
        width: 90%;
    }
    
    /* About page */
    .profile-bio{
        margin: 5%;
    }
    
    .profile-img{
        width: 150px;
        height: 150px;
        border: 6px solid #444;
    }
}

@media (min-width: 821px){
    /* Hide Hamburger menu when not mobile */
    .navbar-menu {
        display: none;
    }
    
    .navbar-item{
        display: inline-block !important;
    }
}