/* === Skills Page styles === */

/* === Table Column style === */

.table{
    text-align: center;
}

.table-column{
    display: inline-block;   
    vertical-align: top;
    width: 25%;
    min-width: 14em;
    white-space: nowrap;
}

.table-column ul{
    display: inline-block;
    list-style: none;
    text-align: left;
    vertical-align: top;
}

.skill-icon{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    padding-bottom: 1em;
}

.skill-list{
    width: 80%;
}

.skill-item{
    position: relative;
    width: 100%;
    padding: 4px;
}

.skill-item:after{
    content: "";
    background: #03A9F4;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
}

.width90{
    width: 90%;
}

.width80{
    width: 80%;
}

.width70{
    width: 70%;
}

.width60{
    width: 60%;
}

/* === Rotate Text === */

.rotate-text-wrapper{
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
    line-height: 1.5;
    border-right: thin solid #444;
    padding: 0 .5em 0 0;
    margin: 0 .5em 0 0;
    font-weight: bold;
    white-space: nowrap;
}

.rotate-text{
    display: inline-block;
    white-space: nowrap;
    transform: translate(0,100%) rotate(270deg);
    transform-origin: 0 0;
}

.rotate-text:after{
    content:"";
    float: left;
    margin-top: 100%;
}