/* Skills Page */

#skills p.caption{
    text-align: left;
    border-left: transparent 11px solid;
    padding-left: 1.6em;
}

.table{
    text-align: center;
}

.column{
    display: inline-block;   
    vertical-align: top;
    width: 25%;
    min-width: 14em;
    white-space: nowrap;
    margin-right: 1em;
}

.column p{ 
}

.column ul{
    display: inline-block;
    list-style: none;
    text-align: left;
    vertical-align: top;
}

.rotate-text-wrapper{
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
    line-height: 1.5;
    border-right: thin solid #444;
    padding: 0 .5em 0 0;
    margin: 0 .5em 0 0;
    font-size: 1.4em;
    font-weight: bold;
    white-space: nowrap;
}

.rotate-text{
    display: inline-block;
    white-space: nowrap;
    transform: translate(0,100%) rotate(270deg);
    transform-origin: 0 0;
    color: #1E84B6;
}

.rotate-text:after{
    content:"";
    float: left;
    margin-top: 100%;
}

.skills-img-wrapper{
    padding-bottom: 1em;
    margin: 0 auto;
}

.skills-img-wrapper img{
    width: 150px;
    height: 150px;
}

/* Bargraph */

#bargraph{
    display: inline-block;
    list-style-type: none;
    background: rgba(0,0,0,0.10);
    border-spacing: 15px 15px;
}

#bargraph li{
    width: 150px;
    height: 400px;
    display: table-cell;
    position: relative;
    border: thin white solid;
}

.bars{
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0 10px 0;
    border: none;
    color: #F64E4E;
    background: white;
}

